In [ ]:
pip install implicit umap-learn -q

Note: you may need to restart the kernel to use updated packages.

In [ ]:
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import bm25_weight
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import plotly.graph_objects as go
from umap import UMAP
from scipy.sparse import csr_matrix
import scipy.sparse as sparse
from scipy.sparse.linalg import spsolve
import random

c:\Users\aryij\anaconda3\envs\cp2\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## 데이터프레임 로드

In [ ]:
# parquet_path = "/content/drive/MyDrive/Colab Notebooks/Datasets/cp2_ecommerce/df_mv_filled.parquet"
parquet_path = "D:/cp2_dataset/df_cat_add.parquet"
df = pd.read_parquet(parquet_path, engine='pyarrow')

In [ ]:
df.head(3)

,event_time,month,day,day_name,hour,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,main_cat,sub_cat_1,sub_cat_2
0,2019-10-01 04:00:00+04:00,10,1,Tuesday,4,view,44600062,2103807459595387724,no_cat,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c,no_cat,None,None
1,2019-10-01 04:00:00+04:00,10,1,Tuesday,4,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,appliances,environment,water_heater
2,2019-10-01 04:00:01+04:00,10,1,Tuesday,4,view,17200506,2053013559792632471,furniture.living_room.sofa,no_brand,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8,furniture,living_room,sofa

### event_type = cart, day_name = 금, 토, 일 데이터만 사용

In [ ]:
cart_cond = (df["event_type"] == "cart")
df_cart = df[cart_cond]

In [ ]:
df.shape, df_cart.shape

((42380091, 16), (926366, 16))

In [ ]:
df.shape

(42380091, 16)

In [ ]:
sub_cat_1 = (df_cart["sub_cat_1"] == "smartphone") \
            | (df_cart["sub_cat_1"] == "video") \
            | (df_cart["sub_cat_1"] == "notebook") \
            | (df_cart["sub_cat_1"] == "kitchen")

day_cond = (df_cart["day_name"] == "Friday") \
           | (df_cart["day_name"] == "Saturday") \
           | (df_cart["day_name"] == "Sunday")

In [ ]:
df_cart_cat = df_cart.loc[sub_cat_1]
df_day = df_cart_cat.loc[day_cond]
df_day.shape

(296936, 16)

In [ ]:
cart_day = df_day[["product_id","user_id"]]

### counting을 위해 count 칼럼 생성

In [ ]:
cart_day.loc[:, "count"] = 1

c:\Users\aryij\anaconda3\envs\cp2\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [ ]:
cart_day.head(3)

         product_id    user_id  count
3515590     1005136  512433763      1
3515915     1003310  556510717      1
3516066     1005141  514302701      1

In [ ]:
cart_day.shape

(296936, 3)

### product_id에 따른 설명 테이블 item_lookup 생성

In [ ]:
item_lookup = df_day[['product_id','main_cat', "sub_cat_1", "sub_cat_2", "brand"]].drop_duplicates()
item_lookup.head()

         product_id     main_cat   sub_cat_1 sub_cat_2    brand
3515590     1005136  electronics  smartphone      None    apple
3515915     1003310  electronics  smartphone      None    apple
3516066     1005141  electronics  smartphone      None    apple
3516110     1004945  electronics  smartphone      None  samsung
3516183     1005118  electronics  smartphone      None    apple

### Train / Test dataset 생성

In [ ]:
# test_set 비율 0.3
valid_pct = 0.3

np.random.seed(42)
cart_day["random"] = np.random.random(size=len(cart_day))

train_mask = cart_day["random"] < (1-valid_pct)
valid_mask = cart_day["random"] >= (1-valid_pct)

# 고객과 아이템 별로 총 얼마나 구매했는지 
grouped_cart_train = cart_day[train_mask].groupby(["user_id", "product_id"]).size().to_frame("count").reset_index()
grouped_cart_valid = cart_day[valid_mask].groupby(["user_id", "product_id"]).size().to_frame("count").reset_index()

c:\Users\aryij\anaconda3\envs\cp2\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [ ]:
sample_weight_train = np.log2(grouped_cart_train['count'] + 1)
sample_weight_valid = np.log2(grouped_cart_valid['count'] + 1)

grouped_cart_train = grouped_cart_train[['user_id', 'product_id']]
grouped_cart_valid = grouped_cart_valid[['user_id', 'product_id']]

train_users = np.sort(grouped_cart_train.user_id.unique())
valid_users = np.sort(grouped_cart_valid.user_id.unique())
cold_start_users = set(valid_users) - set(train_users)

train_items = np.sort(grouped_cart_train.product_id.unique())
valid_items = np.sort(grouped_cart_valid.product_id.unique())
cold_start_items = set(valid_items) - set(train_items)

# item_lookup 테이블도 train, valid set에 맞게 나눠준다
item_lookup_train = item_lookup[item_lookup.product_id.isin(train_items)]
item_lookup_valid = item_lookup[item_lookup.product_id.isin(valid_items)]

### ALS 알고리즘의 입력값 형태 만들기 위해, 희소 행렬 생성
- 희소 행렬
    - row : 유니크한 user_id
    - column : 유니크한 product_id
    - 행렬의 값은 유저가 각 제품 구매한 횟수

In [ ]:
# create zero-based index position <-> user/item ID mappings
index_to_user = pd.Series(np.sort(np.unique(grouped_cart_train['user_id'])))
index_to_item = pd.Series(np.sort(np.unique(grouped_cart_train['product_id'])))

# create reverse mappings from user/item ID to index positions
user_to_index = pd.Series(data=index_to_user.index, index=index_to_user.values)
item_to_index = pd.Series(data=index_to_item.index, index=index_to_item.values)

# convert user/item identifiers to index positions
grouped_cart_train_imp = grouped_cart_train.copy()
grouped_cart_train_imp['user_id'] = grouped_cart_train['user_id'].map(user_to_index)
grouped_cart_train_imp['product_id'] = grouped_cart_train['product_id'].map(item_to_index)

In [ ]:
# prepare the data for CSR creation
data = sample_weight_train
rows = grouped_cart_train_imp['user_id']
cols = grouped_cart_train_imp['product_id']

In [ ]:
# matrix가 매우 크기 때문에 Sparse matrix로 바꾸어주어서
# zero가 아닌 값들의 위치와 그 값만 저장하도록 메모리 절약!

# create the required user-item and item-user CSR matrices
items_user_imp = csr_matrix((data, (cols, rows)), shape=(len(train_items), len(train_users)))
user_items_imp = items_user_imp.T.tocsr()

## 모델링

#### Random Model (Base line)

In [ ]:
class RandomModel():
    def __init__(self):
        self.products = None
    
    def train(self, products):
        self.products = np.asarray(products)
        return self

    def recommend(self, size=(1,10)):
        return np.random.choice(self.products, size=size, replace=False)

In [ ]:
random_model = RandomModel().train(item_lookup_train.index.tolist())

In [ ]:
grouped_cart_train["product_id"].value_counts()

1004856     9083
1004767     6859
1004833     3774
1004870     3607
1005115     3071
            ...
18001506       1
3300403        1
4502129        1
1306590        1
3601621        1
Name: product_id, Length: 2982, dtype: int64

In [ ]:
baseline = grouped_cart_train.copy()

In [ ]:
freq = grouped_cart_train["product_id"].mode()[0]

In [ ]:
baseline = [freq] * len(grouped_cart_train)

In [ ]:
# 최다 product_id의 빈도를 정확도 baseline으로 선정
from sklearn.metrics import accuracy_score
print("training accuracy: ", accuracy_score(grouped_cart_train["product_id"], baseline))

training accuracy:  0.06891920602160981

### Alternating Least Squares (ALS) model

#### ALS 특징
- Implicit 데이터는 구체적인 점수가 아니므로 사용자가 아이템에 관심있는지 여부(Preference)를 Binary로 표현하여 사용
    - 주목할점은 인터랙션이 한번도 없는 경우 Preference값이 음수가 아니라 0이라는 것
    
- 사용자가 아이템을 얼마나 선호하는지를 나타낸 Confidence 값을 정의
    - 여기서 α는 인터랙션이 있는 경우 r의 중요도를 조절하는 하이퍼파라미터이다. 
    - r의 값이 높아질수록 Confidence 값이 증가하게 만든다(Increasing Function). 
    - 인터랙션이 없다고 해서 선호하지 않는 것이 아니므로 이런 경우에는 낮은 Confidence 값을 가진다. 
    - 여기서 r은 이미 알고 있는 값이고, α는 사용자 설정값이므로 Confidence는 상수가 된다. 
        - 즉, 학습대상이 아니다.

In [ ]:
# confidence value tuning

# In most casing the solutions should be pretty similar after calling fit. It might be worth trying to tune the confidence values passed as an input, potentially by multiplying the confidence weights by a constant (alpha) before calling fit.

# You should probably by determining the best value of alpha via cross validation - but a useful heuristic to get started is it to set the alpha param such that the positive examples and negative examples have equal weight:

# since all the zeros in the matrix (negative examples) get a default confidence of 1
# https://github.com/benfred/implicit/issues/96

# fit 하기 전, confidence 값 (alpha) 을 조정한다 
# -> negative example 들을 1로 맞춰준다

Riu = user_items_imp
# nnz : 저장된 값들의 수
alpha = (Riu.shape[0] * Riu.shape[1] - Riu.nnz) / sum(Riu.data)

In [ ]:
from implicit.als import AlternatingLeastSquares

# initialize and fit the model
imp_model = AlternatingLeastSquares(factors=64, 
                                    random_state=42,
                                    regularization=0.05,
                                    iterations=20, 
                                    calculate_training_loss=True)
imp_model.fit(alpha * user_items_imp)

100%|██████████| 20/20 [00:49<00:00,  2.47s/it, loss=0.0073]

## Evaluation

#### Random Model

In [ ]:
random_rec = random_model.recommend()

item_lookup.loc[random_rec[0].tolist(), :]

,product_id,main_cat,sub_cat_1,sub_cat_2,brand
17318509,1801963,electronics,video,tv,philips
33408480,3100907,appliances,kitchen,blender,elenberg
3664517,10900003,appliances,kitchen,mixer,polaris
17271323,2701423,appliances,kitchen,refrigerators,haier
23382581,4900181,appliances,kitchen,juicer,elenberg
3556959,1801766,electronics,video,tv,artel
25320650,7900976,furniture,kitchen,chair,lorelli-bertoni
5317573,1306761,computers,notebook,None,hp
26890226,1801565,electronics,video,tv,sony
3569821,18000656,electronics,smartphone,phone_accessories,samsung

#### ALS Model

##### Hit_rate, Precision, Recall

In [ ]:
# generate recommendations for all users and map back to original user/item ID values
recs_imp = imp_model.recommend_all(user_items=user_items_imp, N=10, filter_already_liked_items=False)
recs_imp = pd.DataFrame(recs_imp, index=index_to_user.values).apply(lambda c: c.map(index_to_item))

valid_user_items = grouped_cart_valid.groupby('user_id')['product_id'].apply(set).to_dict()
combined_users = set(train_users) & set(valid_users)

In [ ]:
# hit_rate, precision, recall 측정
imp_hrt = np.mean([int(len(set(recs_imp.loc[u]) & valid_user_items[u]) > 0) for u in combined_users])
imp_pre = np.mean([len(set(recs_imp.loc[u]) & valid_user_items[u]) / len(recs_imp.loc[u]) for u in combined_users])
imp_rec = np.mean([len(set(recs_imp.loc[u]) & valid_user_items[u]) / len(valid_user_items[u]) for u in combined_users])

In [ ]:
print("Hit Rate :", round(imp_hrt, 2))
print("Precision :", round(imp_pre, 2))
print("Recall :", round(imp_rec, 2))

Hit Rate : 0.87
Precision : 0.1
Recall : 0.83

##### 해당 user_id가 실제 cart에 가장 많이 넣은 제품들

In [ ]:
user_id = 539016593

user_prod_freq = (
    cart_day
    .loc[cart_day["user_id"] == user_id, "product_id"]
    .value_counts()
    .iloc[:10]
)
freq_item = item_lookup.set_index("product_id").loc[user_prod_freq.index.to_list(), :]
freq_item.loc[:, "counts"] = user_prod_freq.to_list()
freq_item.reset_index()

   product_id     main_cat   sub_cat_1 sub_cat_2      brand  counts
0     1802037  electronics       video        tv         lg       6
1     1005100  electronics  smartphone      None    samsung       4
2     1004809  electronics  smartphone      None     xiaomi       3
3     1004777  electronics  smartphone      None     xiaomi       3
4     1005204  electronics  smartphone      None     xiaomi       3
5     1004838  electronics  smartphone      None       oppo       2
6     1801998  electronics       video        tv      artel       1
7     1005006  electronics  smartphone      None     xiaomi       1
8     1801770  electronics       video        tv  changhong       1
9     1005195  electronics  smartphone      None     xiaomi       1

##### 추천 시스템

In [ ]:
user_idx = list(grouped_cart_train['user_id']).index(user_id)
user_idx

69849

In [ ]:
ids, scores = imp_model.recommend(user_idx, user_items_imp[user_idx], filter_already_liked_items=False)

In [ ]:
ids

array([237, 290, 281, 269, 238, 266, 293, 386, 229, 236])

In [ ]:
als_rec = pd.DataFrame({"product_id": grouped_cart_train["product_id"][ids], 
                        "score": scores, 
                        "already_carted": np.in1d(ids, user_items_imp[user_idx].indices)})
als_rec.drop_duplicates("product_id")

     product_id     score  already_carted
237     1801690  0.997957            True
290     1004665  0.329938           False
281     1004750  0.250027           False
269     3601535  0.246099           False
238     1801904  0.232005           False
266     1004038  0.230789           False
293     1004229  0.219613           False
386     1004709  0.211708           False
229     1307236  0.194492           False
236     1005180  0.182106           False

In [ ]:
als_item_lookup = item_lookup_train.set_index("product_id").loc[als_rec["product_id"].to_list(), :].reset_index()
als_item_lookup.merge(als_rec).drop_duplicates("product_id").reset_index(drop=True)

,product_id,main_cat,sub_cat_1,sub_cat_2,brand,score,already_carted
0,1801690,electronics,video,tv,samsung,0.997957,True
1,1004665,electronics,smartphone,None,samsung,0.329938,False
2,1004750,electronics,smartphone,None,samsung,0.250027,False
3,3601535,appliances,kitchen,dishwasher,samsung,0.246099,False
4,1801904,electronics,video,tv,samsung,0.232005,False
5,1004038,electronics,smartphone,None,xiaomi,0.230789,False
6,1004229,electronics,smartphone,None,apple,0.219613,False
7,1004709,electronics,smartphone,None,huawei,0.211708,False
8,1307236,computers,notebook,None,lenovo,0.194492,False
9,1005180,electronics,smartphone,None,no_brand,0.182106,False

##### 비슷한 아이템

In [ ]:
product_id = 1801690
product_idx = list(grouped_cart_train['product_id']).index(product_id)

similar_ids, similar_scores = imp_model.similar_items(product_idx)

sim_items = pd.DataFrame({"product_id": grouped_cart_train["product_id"][similar_ids], 
                        "score": similar_scores})

als_sim_item_lookup = item_lookup_train.set_index("product_id").loc[sim_items["product_id"].to_list(), :].reset_index()
als_sim_item_lookup.merge(sim_items).sort_values("score", ascending=False).reset_index(drop=True)

    product_id     main_cat   sub_cat_1 sub_cat_2     brand     score
0      1801690  electronics       video        tv   samsung  1.000000
1      1801690  electronics       video        tv   samsung  1.000000
2      1005169  electronics  smartphone      None   samsung  0.879526
3      1005115  electronics  smartphone      None     apple  0.873914
4      1801690  electronics       video        tv   samsung  0.872607
5      1801690  electronics       video        tv   samsung  0.872607
6      1005173  electronics  smartphone      None  no_brand  0.866691
7      1005173  electronics  smartphone      None   samsung  0.866691
8      1004805  electronics  smartphone      None    xiaomi  0.863013
9      1005003  electronics  smartphone      None    huawei  0.861197
10     1004785  electronics  smartphone      None    huawei  0.860428
11     1307310    computers    notebook      None      acer  0.858922
12     1004874  electronics  smartphone      None   samsung  0.856317